body {
  color: #333333;
  font-family: arial;

  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px; /* lub 1440px, w zależności od projektu */
 

}

#main-content {
  flex-grow: 1;
  padding: 20px;
}

#wrapper {
  /* display: flex; */
  min-height: 100vh; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  flex: 1;
}

/* Sidebar: boczny pasek po lewej stronie */
#sidebar {
   
  background-color: #f4f4f4; 
  padding: 16px; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
   /* display: flex;  */
  justify-content: flex-start; /* Ustawienie zawartości na początku */
  /* margin-left: 250px;  */
  min-width: 200px; /* Minimalna szerokość, aby tekst się zmieścił */
  max-width: 300px; 
  margin-left: 100px;
}

#header {
  /* background-color: #f4f4f4;  */
  text-align: center; /* Wyśrodkowanie tekstu */
  padding: 20px 0; /* Odstępy wewnętrzne */
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);  */
  font-size: 18px;
  /* font-weight: bold;  */
}

#footer {
  text-align: center; /* Wyśrodkowanie tekstu */
  background-color: #f4f4f4; /* Kolor tła */
  padding: 10px 0; /* Odstępy wewnętrzne */
  font-size: 14px; /* Rozmiar czcionki */
  border-top: 1px solid #dddddd; /* Linia oddzielająca stopkę */
  margin-top: auto; /* Automatyczne odsunięcie w dół */
}

/* Menu w sidebarze */
.menu-container {
  /* display: inline-block;  */
  background-color: #ffffff; /* Opcjonalne tło dla menu */
  padding: 10px; /* Dodanie odstępów wewnętrznych */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Delikatny cień */
  border-radius: 5px; /* Zaokrąglone rogi (opcjonalne) */
  margin-top: 20px;
 
  /* display: flex;
  flex-direction: column; 
  gap: 10px; 
  align-items: flex-start; 
  padding-left: 10px;  */
}
/* Linki w sidebarze */
.menu-container a {
  text-decoration: none; /* Usuń podkreślenie */
  color: #333; /* Kolor tekstu */
  font-size: 16px; /* Rozmiar czcionki */
  padding: 5px 0; /* Odstępy między linkami */
  transition: color 0.2s; /* Animacja koloru przy najechaniu */
  display: block; /* Każdy link w nowej linii */
}
.menu-container a:hover {
  color: grey; /* Kolor linku po najechaniu */
}
.container {
  width: 100%;
  max-width: 1200px; /* Maksymalna szerokość kontenera */
  margin: 0 auto; /* Wyśrodkowanie kontenera */
  padding: 0 20px; /* Odstęp wewnętrzny */
}


footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
 
}


h1 {
  text-align: center; /* Wyśrodkowanie tekstu */
  font-size: 64px; /* Rozmiar tekstu */
  margin-bottom: 16px; /* Odstęp poniżej */
}

.folders {
  display: flex; /* Aktywacja Flexbox */
  justify-content: center; /* Wyśrodkowanie poziome elementów */
  align-items: center; /* Opcjonalne: wyrównanie pionowe */
  gap: 16px; /* Odstęp między elementami */
  margin-top: 16px; /* Odstęp od góry */
  margin-bottom: 48px; /* Odstęp od dołu */
}
.margin-left-100 {
  margin-left: 100px;
}
.margin-left-300 {
  margin-left: 300px;
}
.margin-left-600 {
  margin-left: 600px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}
header a:hover {
  color: black; /* optional hover effect */
}


.portrait {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
  max-width: 200px;
  margin-left: 1px;
  margin-top: 1px;
}
button:hover {
  background-color: grey; /* optional hover effect */
}

.disabled-button {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.smiley {
  font-size: 24px;
  margin
}

#message-error {
  color: red;
  font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: blue; /* or any color you like */
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    background-color: darkblue; /* optional hover effect */
}


#logout-link {
  /* margin-left: auto; */
  display: inline-block; /* aby działał "display: none;" */
  margin-top: 100px;
  margin-right: 270;
}

#delete-link {
  /* margin-left: auto; */
  display: inline-block; /* aby działał "display: none;" */
  margin-top: 100px;
  margin-right: 270;
}

.link-images {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 150px;
  margin: 20px 0;
}

.link-image {
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.link-image:hover {
  transform: scale(1.1);
}

.user-info {
  display: flex; /* Ustawienie flexbox do łatwego wyrównywania */
  align-items: center; /* Wyśrodkowanie elementów w pionie */
  gap: 8px; /* Odstęp między obrazkiem a tekstem */
}

#user-list {
  list-style: none; /* Usunięcie numeracji/kropek */
  padding: 0; /* Usuń odstęp wewnętrzny domyślny */
  margin: 0; /* Usuń odstęp zewnętrzny domyślny */
  display: flex;
  flex-wrap: wrap; /* Pozwala na zawijanie elementów */
  gap: 16px; /* Odstępy między elementami */
}
#user-listA {
  list-style: none; /* Usunięcie numeracji/kropek */
  padding: 0; /* Usuń odstęp wewnętrzny domyślny */
  margin: 60; 
  /* display: flex;
  flex-wrap: wrap; */
  gap: 16px; 
  margin-bottom:10px
}
.user-item {

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Dodaj delikatny cień */
  border-radius: 5px; /* Zaokrąglone rogi */
  gap: 16px; 
}
.arena-details {
  flex-basis: 100%; /* Zajmuje całą szerokość */
  margin-bottom: 20px; /* Przerwa pod sekcją */
  background-color: #f0f0f0; /* Opcjonalnie: kolor tła */
  padding: 10px; /* Przestrzeń wewnętrzna */
  border-radius: 5px; /* Zaokrąglone rogi */
}
#avatar{
  height: 100px
} 

#avataruser{
  width: 50px;
  /* height: 50px; */
  border-radius: 50%;
  object-fit: cover;
} 

#detailsbut{
  margin-left: 100px
}
.move-right {
  margin-left: 60px;
}

.forgot{
  display: inline-block;
  font-size: 12px;
  color: #4A5B6C;
  text-decoration: none;
  padding: 5px 7px;
  border: 1px solid #97B0CA;
  border-radius: 5px;
  margin-top: 10px;
  
}
.forgot:hover{
  color: gray;
}

@media screen and (max-width: 768px) {
  /* Usunięcie marginesu z sidebaru */
  #sidebar {
    margin-left: 0; /* Brak marginesu z lewej strony */
    width: 100%; /* Sidebar na pełną szerokość */
  }

  /* Powiększenie czcionki w menu-container */
  .menu-container a {
    font-size: 20px; /* Większa czcionka */
    padding: 10px 0; /* Większe odstępy między linkami */
  }

  /* Ustawienie sidebaru nad main-content */
  #wrapper {
    flex-direction: column; /* Ustawienie elementów w kolumnie */
  }

  #main-content {
    width: 100%; /* Main content na pełną szerokość */
    padding-top: 16px; /* Odstęp od góry dla lepszej czytelności */
  }
  .link-images {
    display: flex;
    flex-direction: column; /* Wyświetlanie elementów w kolumnie */
    justify-content: center;
    gap: 20px; /* Odstęp między elementami */
    margin: 20px 0;
  }

  .folders {
    display: flex;
    flex-direction: column; /* Wyświetlanie linków w kolumnie */
    gap: 20px; /* Odstęp między elementami */
    align-items: center; /* Wyrównanie elementów w poziomie na środku */
    margin-top: 20px;
  }

  .folders a {
    font-size: 18px; /* Możesz dostosować rozmiar czcionki na urządzenia mobilne */
    padding: 10px; /* Większe odstępy między linkami */
    text-align: center; /* Wyrównanie tekstu w linkach */
  }
}
   
