body {
  color: #333333;
  font-family: arial;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
  max-width: 200px;
}
.smiley {
  font-size: 24px;
  margin
}

#message-error {
  color: red;
  font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: blue; /* or any color you like */
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    background-color: darkblue; /* optional hover effect */
}

.menu-container {
  display: flex;
  align-items: center; /* wyrównanie elementów w pionie */
}

#logout-link {
  margin-left: auto;
  display: inline-block; /* aby działał "display: none;" */
  margin-top: 100px;
  margin-right: 270;
}

#delete-link {
  margin-left: auto;
  display: inline-block; /* aby działał "display: none;" */
  margin-top: 100px;
  margin-right: 270;
}
  
