<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Send</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Email Send</h1>
    <p>czeck your e-mail box (<strong>{{email}}</strong>) i postępuj zgodnie z
      instrukcjami, aby zresetować hasło.</p>
  </body>
</html>