<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password changed</title>
      <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Password successfuly changed!</h1>
    {{>headermain}}
    
    <div class="margin-left-600 ">
    <p>Now you can login with the new password.</p>
  <a href="/" id="but-link1" style="display: block;">Go home</a> 

    </div>

  </body>
</html>