<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hasło Zmienione</title>
      <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{>headermain}}
    <h1>Hasło zostało pomyślnie zmienione!</h1>
    <p>Możesz teraz zalogować się przy użyciu nowego hasła.</p>
  <a href="/" id="but-link1" style="display: block;">Go to home</a> 
  </body>
</html>