
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>

     {{>headermanager}}</div>
  

    
    



 <div> <ol id="arena-list"></ol> </div>
 

  <button id="sort-by-weight" class="move-right">Sort by Weight</button>
<button id="sort-by-club" class="move-right">Sort by Club</button>
   <button id="export-to-xml" class="move-right">Export to XML</button>
<button id="view-club-contacts" class="move-right">Clubs Contacts</button>

<ul id="club-contact-list"></ul>

<div> <ol id="user-listA"></ol></div>



    <div>
       <p id="message-3"></p>
<p id="message-error"></p>
<p id="message-2"></p>
<p id="message-4"></p>
    </div>

    <script src="/js/arenaspartdetails.js"></script>
 
  </body>
</html>