<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
<body>
  <div id="header">
    {{>headerclub}}
  </div>
  <div id="wrapper">
    <div id="sidebar">
      <div class="menu-container">
        <a href="/arenasapply" id="but-link1" style="display: none;">Applications for arena</a>
        <a href="/arenasparticipants" id="but-link2" style="display: none;">Arena members</a>
        <a href="/clubpaneledit" id="but-link4" style="display: none;">Edit members</a>
        <a href="/clubprofileedit" id="but-link3" style="display: none;">Edit profile</a>
       <button id="create-user" style="display: none;">Create User</button>
      </div>
    </div>
    <div id="main-content">
      <p id="list-title" style="display: none;">Club members</p>
      <div>
        <ul id="user-list"></ul>
       
      </div>
     
      <div class="margin-left-600">
        <p id="message-3"></p>
        <p id="message-error"></p>
        <p id="message-2"></p>
        <p id="message-1"></p>
      </div>
    </div>
  </div>
    <footer id="footer">
    <p>© 2024 MK. All rights reserved.</p>
  </footer>
  <script src="/js/clubpanel.js"></script>
</body>




</html> 


{{!-- 
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
   
   <div class="menu-container">

    {{>headerclub}}


    <a href="/arenasapply" id="but-link1" style="display: none;">Applications for arena</a>
    <a href="/arenasparticipants" id="but-link2" style="display: none;">Arena members</a>
     <a href="/clubpaneledit" id="but-link4" style="display: none;">Edit memebers</a>

<a href="/clubprofileedit" id="but-link3" style="display: none;">Edit profile</a> 
</div>




<p id="list-title" style="display: none;">Club members</p>
 <div> <ol id="user-list"></ol> <!-- Kontener na listę użytkowników --></div>
  

<button id="create-user" style="display: none;">Create User</button>


    <div>
       <p id="message-3"></p>
<p id="message-error"></p>
<p id="message-2"></p>
<p id="message-1"></p>
    </div>


</div>


    <script src="/js/clubpanel.js"></script>

  </body>
</html> --}}