{{! formularz }}

<html>

  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />

  </head>

  <body>

    <div class="main-content">
      <div class="margin-left-300">
        <form action="/clubss/reset-password/{{token}}" method="POST">
          <label for="newPassword">New password:</label>
          <input type="password" id="newPassword" name="newPassword" required />
          <label for="confirmPassword">Confirm password::</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
          <button type="submit">Save password</button>
        </form>
      </div>

      <p id="message-3"></p>
      <p id="message-1"></p>
      <p id="message-2"></p>
      <p id="message-4"></p>

    </div>

    {{! <script src="/js/passwordrecuser.js"></script> }}
  </body>

</html>