<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>headerclub}}

      <div class="centered-div">
        <p>Login as a club</p>
        <form id="club-login-form">
          <input id="email-input" placeholder="Email" />
          <input id="password-input" type="password" placeholder="Password" />
          <button>Send</button>
        </form>
        <a href="/clubss/forgot-password" class="forgot">Zapomniałem hasła</a>
      </div>

      <p id="message-3"></p>
      <p id="message-1"></p>
      <p id="message-2"></p>
      <p id="message-4"></p>
    </div>

    <script src="/js/clublogin.js"></script>
  </body>
</html>
