
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
   <div class="menu-container">
    {{!-- {{>header}} --}}
    {{>headerclub}}
    {{!-- <a href="/clublogout" id="logout-link" style="display: none;">Logout</a> --}}
    <a href="/arenasapply" id="but-link1" style="display: none;">Applications for arena</a>
    <a href="/arenasparticipants" id="but-link2" style="display: none;">Arena members</a>
{{!-- {{isClubLoggedIn}} --}}
<a href="/clubprofileedit" id="but-link3" style="display: none;">Edit profile</a> 
</div>

{{!-- 
 <div> <ol id="arena-all-list"></ol> </div>
    {{>displayallarenas}}
  <script src="/js/displayallarenas.js"></script>

 --}}


<p id="list-title" style="display: none;">Club members</p>
 <div> <ol id="user-list"></ol> <!-- Kontener na listę użytkowników --></div>
  

<button id="create-user" style="display: none;">Create User</button>


    <div>
       <p id="message-3"></p>
<p id="message-error"></p>
<p id="message-2"></p>
<p id="message-1"></p>
    </div>



{{!-- <div id="delete-container" style="display: none;">
  <button id="delete-button">Delete your club</button>
  <form id="delete-form" style="display: none;">
    <label for="delete-input">Type "delete" to confirm</label>
    <input type="text" id="delete-input" placeholder="delete">
    <button type="submit">Confirm</button>
  </form>
  <a href="/clubdelete" id="delete-link" style="display: none;">Delete the club here</a>
</div> --}}

    <script src="/js/clubpanel.js"></script>

  </body>
</html>