{{! formularz }}

<html>

  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />

  </head>

  <body>

    <div class="main-content">
      <form
        id="userForgotPasswordForm"
        method="POST"
        action="/clubss/forgot-password"
      >
        <label for="email">Wpisz swój e-mail:</label>
        <input type="email" name="email" id="email" required />
        <button type="submit">Resetuj hasło</button>
      </form>

    </div>
  </body>
</html>