
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
   <div class="menu-container">
    {{>header}}
    {{!-- <a href="/clublogout" id="logout-link" style="display: none;">Logout</a> --}}
</div>

{{!-- 
 <div> <ol id="arena-all-list"></ol> </div>
    {{>displayallarenas}}
  <script src="/js/displayallarenas.js"></script>

 --}}


<p id="list-title" style="display: none;">Club members</p>
 <div> <ol id="user-list"></ol> <!-- Kontener na listę użytkowników --></div>
  

{{!-- <button id="create-user" style="display: none;">Edit User</button> --}}

<form id="club-edit-form" style="display: none;"> 
   <input id="email-input" placeholder="Email">
    <input id="text-name-input" placeholder="Name">
    <input id="text-surname-input" placeholder="Surname">
    <input id="number-age-input" placeholder="Age">
    <input id="number-weight-input" placeholder="Weight">
    <input id="number-fightamount-input" placeholder="Fights no">

    {{!-- <input id="number-phone-input" placeholder="Phone number"> --}}
   <button>Send</button>
</form>

    <div>
       <p id="message-3"></p>
<p id="message-error"></p>
<p id="message-2"></p>
<p id="message-4"></p>
    </div>


{{!-- tu sie ma otworzyc nowy form --}}





{{!-- <a href="/clubdelete" id="delete-link" style="display: none;">Delete</a> --}}
    <script src="/js/clubpaneledit.js"></script>
    {{!-- {{#if clubLogin}}
  <script src="/js/clublogin.js"></script>
{{/if}} --}}
  </body>
</html>

{{!-- <html>
  <head>
    <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="main-content">
     {{>header}}
{{errorMessage}}
<div class="smiley">
      ;-) 

      lista userow przypisanych do tego kluubu z bazy
      
    </div>
</div>

    

      {{>footer}}
  </body>  


</html> --}}