
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
   <div class="menu-container">
    {{!-- {{>header}} --}}
    {{>headerclub}}
    {{!-- <a href="/clublogout" id="logout-link" style="display: none;">Logout</a> --}}
    <a href="/arenasapply" id="but-link1" style="display: none;">Applications for arena</a>
    <a href="/arenasparticipants" id="but-link2" style="display: none;">Arena members</a>
{{isClubLoggedIn}}

</div>

{{!-- 
 <div> <ol id="arena-all-list"></ol> </div>
    {{>displayallarenas}}
  <script src="/js/displayallarenas.js"></script>

 --}}


<p id="list-title" style="display: none;">Club members</p>
 <div> <ol id="user-list"></ol> <!-- Kontener na listę użytkowników --></div>
  

<button id="create-user" style="display: none;">Create User</button>


    <div>
       <p id="message-3"></p>
<p id="message-error"></p>
<p id="message-2"></p>
<p id="message-1"></p>
    </div>
<a href="/clubdelete" id="delete-link" style="display: none;">Delete</a>
    <script src="/js/clubpanel.js"></script>
    {{!-- {{#if clubLogin}}
  <script src="/js/clublogin.js"></script>
{{/if}} --}}
  </body>
</html>

{{!-- <html>
  <head>
    <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="main-content">
     {{>header}}
{{errorMessage}}
<div class="smiley">
      ;-) 

      lista userow przypisanych do tego kluubu z bazy
      
    </div>
</div>

    

      {{>footer}}
  </body>  


</html> --}}