

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
   <div class="menu-container">
    {{>headerclub}}
   
</div>




<p id="list-title" style="display: none;">Club profile</p>
 <div> <ol id="user-list"></ol> 
  


<form id="club-edit-profile-form" style="display: block;"> 
   <input id="email-input" placeholder="Email">
    <input id="text-password-input" placeholder="Password">
    <input id="text-name-input" placeholder="Name">
    <input id="text-city-input" placeholder="City">
    <input id="text-region-input" placeholder="Region">
    <input id="number-phone-input" placeholder="Phone">
    

  
   <button>Send</button>
</form>

<div id="delete-container" style="display: none;">
  <button id="delete-button">Delete your club</button>
  <form id="delete-form" style="display: none;">
    <label for="delete-input">Type "delete" to confirm</label>
    <input type="text" id="delete-input" placeholder="delete">
    <button type="submit">Confirm</button>
  </form>
  <a href="/clubdelete" id="delete-link" style="display: none;">Delete the club here</a>
</div>

    <div>
       <p id="message-3"></p>
              <p id="message-1"></p>
<p id="message-error"></p>
<p id="message-2"></p>
<p id="message-4"></p>
    </div>








    <script src="/js/clubprofileedit.js"></script>
   
  <script src="/js/clublogin.js"></script>

  </body>
</html>