<!DOCTYPE html>

<html>

<head>
  <title>{{title}}</title>
   <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <link rel="stylesheet" href="/public/output.css"> --}}

</head>

<body>

   <div class="main-content">
{{!-- {{>header}} --}}
<div id="header">
{{>headermain}}
</div>
<div class="container">
<p class="margin-left-100">Choose the correct field to come in!</p>


</div>


  <div class="link-images">
      <a href="/clubpanel">
      <p >Club Panel</p>
        <img src="/img/club.png" alt="Club Panel" class="link-image">
      </a>
      <a href="/userpanel">
      <p  >Member Panel</p>
        <img src="/img/member.png" alt="Member Panel" class="link-image">
      </a>
      <a href="/managerpanel">
      <p >Manager Panel</p>
        <img src="/img/manager.png" alt="Manager Panel" class="link-image">
      </a>
    </div> 


<p id="message-3"></p>
<p id="message-1"></p>
<p id="message-2"></p>
<p id="message-4"></p>

   </div>
   
   </div>
 
 {{!-- <div class ="margin-left-100">
 {{>footer}} 
 </div> --}}
 
  <script src="/js/app.js"></script>
</body>

</html>