<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    
    <div class="menu-container">
    {{>header}}
    <a href="/managerlogout" id="logout-link" style="display: none;">Logout</a>
</div>
{{!-- <div class="menu-container">{{>displayarenas}}</div> --}}

 <div> <ol id="arena-list"></ol> <!-- Kontener na listę użytkowników --></div>
    {{!-- {{>displayarenas}}
  <script src="/js/displayarenas.js"></script> --}}

 <div> <ol id="arena-list"></ol> <!-- Kontener na listę użytkowników --></div>
  
 <div> <ol id="user-list"></ol> <!-- Kontener na listę użytkowników --></div>
  

<button id="withdraw-users" style="display: none;">Wycofaj</button>

    <div>
       <p id="message-3"></p>
<p id="message-error"></p>
<p id="message-2"></p>
<p id="message-4"></p>
    </div>
    <script src="/js/managerpanel.js"></script>

  </body>
</html>