{{! formularz }}

<html>

  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />

  </head>

  <body>

    <div class="main-content">
      <p>{{token}}</p>
      <form action="/userss/reset-password/{{token}}" method="POST">
        <label for="newPassword">Nowe hasło:</label>
        <input type="password" id="newPassword" name="newPassword" required />
        <label for="confirmPassword">Potwierdź hasło:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <button type="submit">Zmień hasło</button>
      </form>

      {{!-- <form
        id="resetPasswordForm"
        method="POST"
        action="/userss/reset-password/{{token}}"
      >
        <label for="newPassword">Nowe hasło:</label>
        <input type="password" name="newPassword" id="newPassword" required />
        <label for="confirmPassword">Powtórz hasło:</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          required
        />
        <button type="submit">Zmień hasło</button>
      </form> --}}

      <p id="message-3"></p>
      <p id="message-1"></p>
      <p id="message-2"></p>
      <p id="message-4"></p>

    </div>

    {{! <script src="/js/passwordrecuser.js"></script> }}
  </body>

</html>