<html>
  <head>
  
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Member profile page</title>
     <link rel="icon" href="/img/weather.png">
  </head>
  <body>

    <div class="main-content">
    
    
      <div id="header">
  {{>headermember}}
      </div>
    
    <div id="wrapper">
    <div id="sidebar" style="display: none;">
  <a href="/useredit" id="but-link1" style="display: none;">Edit profile</a>
   </div>
      <p id="warning-auth" style="display: block" class="centered-div">You must login to get access</p>
 
 <div id="profile-user-auth" style="display: none">
  <img id="avatar" style="display: none" alt="Avatar użytkownika" />

      
   
    <div id="user-avatar"></div>
 <p id="message-1"></p>
   <p id="arenas"></p>
    <div> <ol id="arena-list"></ol> 
  <p id="user-info" >User info</p>
    </div>


      
 </div>
   <footer id="footer">
    <p>© 2024 MK. All rights reserved.</p>
  </footer>
<script src="/js/userpanel.js"></script>
     
      </body>
</html>    