
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    {{>header}}

<div style="display: flex; gap: 40px;">
    <a href="/userlogin" class="button">Login User</a>
   
</div>




    <div class="centered-div">
       <p id="message-3"></p>
<p id="message-1"></p>
<p id="message-2"></p>
<p id="message-4"></p>
    </div>

 
  </body>