<html>
  <head>
    {{!-- <link rel="stylesheet" href="/css/styles.css" /> --}}
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Member profile page</title>
     <link rel="icon" href="/img/weather.png">
  </head>
  <body>

    <div class="main-content">

    
      {{!-- {{>header}} --}}
      {{>headermember}}

      <p id="warning-auth" style="display: block">You must login to get access</p>
 
 <div id="profile-user-auth" style="display: none">

    <p>Your data</p>
    <img src="/img/me.png" img class="portrait"   alt="My Image" />
   
    <p id="user-info" >User info</p>
   
   <div id="delete-container" style="display: none;">
  <button id="delete-button">Delete your profile</button>
  <form id="delete-form" style="display: none;">
    <label for="delete-input">Type "delete" to confirm</label>
    <input type="text" id="delete-input" placeholder="delete">
    <button type="submit">Confirm</button>
  </form>
  <a href="/userdelete" id="delete-link" style="display: none;">Delete account here</a>
</div>


   {{!-- <a href="/userlogout" id="logout-link" >Logout</a> --}}
   {{!-- <a href="/userdelete" id="delete-link" >Delete</a> --}}

    </div>
      
 </div>

<script src="/js/userpanel.js"></script>
     {{>footer}}
      </body>
</html>