<!DOCTYPE html>

<html>

<head>
  <title>{{title}}</title>
   <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>

   <div class="main-content">
{{>headerclub}}

<p>Create a user</p>

<form id="club-signup-form"> 
   <input id="email-input" placeholder="Email">
   <input id="password-input" type="password" placeholder="Password">
    <input id="text-name-input" placeholder="Name">
    <input id="text-surname-input" placeholder="Surname">
    <input id="number-age-input" placeholder="Age">
    <input id="number-weight-input" placeholder="Weight">
    <input id="number-fightamount-input" placeholder="Fights no">

    {{!-- <input id="number-phone-input" placeholder="Phone number"> --}}
   <button>Send</button>
</form>

{{!-- <form> 
   <input placeholder="Email">
   <input placeholder="Password">
   <button>send</button>
</form>  --}}

<p id="message-3"></p>
<p id="message-1"></p>
<p id="message-2"></p>
<p id="message-4"></p>

   </div>
    
  {{!-- {{>footer}}   --}}

  <script src="/js/usersignupbyclub.js"></script> 

</body>

</html>