{{! formularz }}

<html>

  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />

  </head>

  <body>

    <div class="main-content">
      <div class="centered-div">
        <form
          id="userForgotPasswordForm"
          method="POST"
          action="/userss/forgot-password"
        >
          <label for="email">Type your e-mail:</label>
          <input type="email" name="email" id="email" required />
          <button type="submit">Reset password</button>
        </form>
      </div>

    </div>
  </body>
</html>