
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    {{>header}}

<div style="display: flex; gap: 40px;">
    <a href="/userlogin" class="button">Login Club</a>
    <a href="/usersignup" class="button">Signup Club</a>
</div>

{{!-- <div style="display: flex; gap: 40px;">
    <button href="/clublogin">Login Club</button>
    <button href="/clubsignup">Signup Club</button>
</div> --}}


    <div>
       <p id="message-3"></p>
<p id="message-1"></p>
<p id="message-2"></p>
<p id="message-4"></p>
    </div>

    {{!-- <script src="/js/clubpanel.js"></script> --}}
    {{!-- {{#if clubLogin}}
  <script src="/js/clublogin.js"></script>
{{/if}} --}}
  </body>