{{!-- <div>
  <ol id="arena-all-list">
    {{#each arenas}}
      <li>
        <strong>{{title}}</strong>
        <p>{{arenaTimeStart}}</p>
        <p>{{description}}</p>
        <button class="apply-button" data-id="{{_id}}">Apply</button>
      </li>
    {{/each}}
  </ol> --}}

<div> <ol id="arena-all-list"></ol></div>