<header>
  <h1>{{title}}</h1>
  <div class='folders'>
    <a href='/'>Home</a>

    <a href='/clubpanel'>Club panel</a>
    <a href='/userpanel'>Member panel</a>

    <a href='/managerpanel'>Manager panel</a>

  </div>
</header>