<header>
  <h1>{{title}}</h1>

  <div>
    <a href='/'>Club register</a>
    <a href='/clubsignpanel'>Club login</a>
    <a href='/clubpanel'>Club panel</a>
    <a href='/userpanel'>Member panel</a>
    <a href='/userlogin'>Member login</a>
    <a href='/managerlogin'>Manager login</a>
    <a href='/managerpanel'>Manager panel</a>
    {{! <a href="/clublogin">Login</a>
    <a href="/clubsignup">Signup</a>
    <a href="/clublogout">Logout</a>
    <a href="/userpanel">Member</a> }}
    {{! <a href="/help">Admin</a> }}
  </div>
</header>