<header>
  <h1>{{title}}</h1>

  <div>
    <a href="/">Club register</a>
    <a href="/clubsignpanel">Club</a>
    <a href="/clubpanel">Club panel</a>

    {{! <a href="/clublogin">Login</a>
    <a href="/clubsignup">Signup</a>
    <a href="/clublogout">Logout</a>
    <a href="/userpanel">Member</a> }}
    {{! <a href="/help">Admin</a> }}
  </div>
</header>