<header>
  <h1>{{title}}</h1>
  <div id="menu-container" class="folders">

  </div>
</header>

<script>
  const tokenb = localStorage.getItem("authUserToken"); const menuContainer =
  document.getElementById("menu-container"); if (tokenb) {
  menuContainer.innerHTML = ` <a href="/">Home</a> <a href="/userpanel">Memeber
  Panel</a> <a href="/userlogout">Logout</a> `;} if(!tokenb){
  menuContainer.innerHTML = ` <a href="/">Home</a> <a
  href="/userlogin">Login</a>`; }
</script>